.navbar-nav{
  text-align: center;
}

.nav-item{
  margin-left: 25px;
  color: black;
}

.contact-btn.btn {
  background-color: rgb(28, 3, 121);
  color: whitesmoke;
  margin-bottom: 20px;
  width: 150px;
}

.contact-btn.btn:hover{
  background-color: blue;
}

.logoimg {
  height: 37px;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 3px;
}

.logoimg1{
  height: 40px;
  margin-right: 10px;
  margin-left: 5px;
}