h3,
p {
    flex-direction: row;
    text-align: center;
}

.welcome-text-box{
    justify-content: center;
    padding: 40px;
    flex-direction: column;
    background-color: rgba(170, 170, 170, 0.3);
}

.welcomeImg {
    height: 400px;
}

.welcome-text{
    text-align: center;
    color: #9c9c9c;
}

div.salestext-box{
    margin-top: 50px;
    text-align: center;
}