.welcome-text-box{
    justify-content: center;
    padding: 40px;
    flex-direction: column;
    background-color: rgb(217, 225, 228);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.welcomeImg {
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.welcome-text{
    text-align: center;
    color: #9c9c9c;
}

div.salestext-box{
    margin-top: 50px;
    text-align: center;
}