.card-style{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 18rem;
}

.service-img{
    height: 200px;
    width: 200px;
}

.add-to-cart-btn{
    text-align: center;
    align-items: center;
}