.card-style{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 18rem;
}

.service-img{
    height: 200px;
    width: 200px;
}

.addtocartbtn.btn{
    background-color: #b5ccd4;
}

.addtocartbtn.btn:hover{
    background-color: #b5ccd4;
}

.btn.cart-icon {
    font-size: 24px;
}