.card-style{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 18rem;
}

.service-img{
    height: 200px;
    width: 200px;
}

.addtocartbtn.btn{
    background-color: #b5ccd4;
}

.addtocartbtn.btn:hover{
    background-color: #b5ccd4;
}

.informationBtn{
    position: absolute;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    right: 0;
    margin-right: 10px;
    margin-top: 5px;
    height: 30px;
    width: 27px;
}